@import '../../scss/mixin';
@import '../../scss/variable';

.banner {
    margin-top: 70px;
    height: 40vh;
    background: var(--backgroud--color);
    color: white;
    text-align: center;
    @include flex;
    font-size: 20px;

    .banner-content {
        width: 80%;
    }

    @media screen and (max-width: 768px) {
        font-size: 15px;
    }
}